<div class="container col-md-6 ">
    <h2>SignIn</h2>
    <form #usersignForm="ngForm" (ngSubmit)="onSubmit(usersignForm.value)">
        
        <div class="form-group">
            <label for="username">Username</label>
            <input name="id" type="hidden" [(ngModel)]="id" />  
            <input type="text" required name="name" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" required  name="password" class="form-control" [(ngModel)]="password"/>
        </div>
        <div class="form-group">
            <label for="mailid">Email</label>
            <input type="text" required  name="mailid" class="form-control" [(ngModel)]="mailid"/>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                SignIn
            </button>
            
        </div>
    </form>
    </div>  