<div class="">
  <nav class="navbar nav-color justify-content-between">
    <div class="navbar-brand brand-font">For bulk orders call 693778978879 </div>
    <div class="form-inline">
      <button class="btn btn-outline-success mr-sm-2" type="submit" routerLink="/login" routerLinkActive="active">LogIn</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/signin" routerLinkActive="active">Create Account</button>
      <a routerLink="/cart">Cart</a>
    </div>
  </nav>
</div>
<div>
  <img class="mx-auto d-block img-fluid logo" src="../assets/images/spnLogo.png" routerLink="/home" routerLinkActive="active">  
</div>
<div class="container col-md-6" style="background-color: beige  ;">
  <ul style=" display:flex;list-style:none;">
    <li class="mx-auto"><a href="">FABRICS</a></li>
    <li class="mx-auto"><a href="">SAREES</a></li>
    <li class="mx-auto"><a href="">JEWELLERY</a></li>
  </ul>   
</div>

<router-outlet></router-outlet>

